# Compustat

In [1]:
import pandas as pd

## Fix [#1](https://github.com/Wenzhi-Ding/Std_Security_Code/issues/1)

In [2]:
lk = pd.read_parquet('../isin/gvkey.pq')
lk.shape
lk.head(3)

(3154733, 4)

                 isin   gvkey      source     update
1581537  DE000CV1XCZ3   15575  Capital IQ 2022-06-18
2108685  DE000DD339L2  267620  Capital IQ 2022-06-18
2108711  DE000DD4E9R9  267620  Capital IQ 2022-06-18

In [6]:
lk2 = lk.loc[lk['gvkey'] == 15575]
lk2.shape

(168844, 4)

In [4]:
cn = pd.read_parquet('../isin/company_name.pq')
cn.shape
cn.head(3)

(10770401, 4)

,isin,company_name,source,update
0,CNE100000TP3,LUXSHARE PRECISION INDUSTRY CO LTD (LUXSHARE),RepRisk,2022-06-19
183609,US140420LV06,CAPITAL ONE BANK NA,RepRisk,2022-06-19
183595,US140420YL86,CAPITAL ONE BANK NA,RepRisk,2022-06-19

In [8]:
lk3 = lk2.merge(cn, on='isin', how='left')
lk3.shape
lk3.head(3)

(168860, 7)

,isin,gvkey,source_x,update_x,company_name,source_y,update_y
0,DE000CV1XCZ3,15575,Capital IQ,2022-06-18,COMMERZBANK AG,Capital IQ,2022-06-18
1,DE000CV1XD04,15575,Capital IQ,2022-06-18,COMMERZBANK AG,Capital IQ,2022-06-18
2,DE000CL19760,15575,Capital IQ,2022-06-18,COMMERZBANK AG,Capital IQ,2022-06-18

In [9]:
lk3['company_name'].value_counts()

company_name
COMMERZBANK AG                                   168844
COMMERZBANK A G                                       8
COMMERZBANK AG, FRANKFURT                             3
COMMERZBANK                                           3
COMMERZBANK VON 1870 AG                               1
BNPP SECURITIES SERVICES (NETHERLANDS BRANCH)         1
Name: count, dtype: int64