# Mergent FISD Bond Data

In [1]:
import pandas as pd

In [4]:
df = pd.read_sas(r'c:\Users\wenzh\Dropbox\研究\2024 - Trust Rating\Replication\02_rdata\FISD\fisd_issue.sas7bdat')
df.shape
df.head(3)

(561184, 66)

,ISSUE_ID,ISSUER_ID,PROSPECTUS_ISSUER_NAME,ISSUER_CUSIP,ISSUE_CUSIP,ISSUE_NAME,MATURITY,SECURITY_LEVEL,SECURITY_PLEDGE,ENHANCEMENT,COUPON_TYPE,CONVERTIBLE,MTN,ASSET_BACKED,YANKEE,CANADIAN,OID,FOREIGN_CURRENCY,SLOB,ISSUE_OFFERED_GLOBAL,SETTLEMENT_TYPE,GROSS_SPREAD,SELLING_CONCESSION,REALLOWANCE,COMP_NEG_EXCH_DEAL,RULE_415_REG,SEC_REG_TYPE1,SEC_REG_TYPE2,RULE_144A,TREASURY_SPREAD,TREASURY_MATURITY,OFFERING_AMT,OFFERING_DATE,OFFERING_PRICE,OFFERING_YIELD,DELIVERY_DATE,UNIT_DEAL,FORM_OF_OWN,DENOMINATION,PRINCIPAL_AMT,COVENANTS,DEFEASED,DEFEASANCE_TYPE,DEFEASED_DATE,DEFAULTED,TENDER_EXCH_OFFER,REDEEMABLE,REFUND_PROTECTION,REFUNDING_DATE,PUTABLE,OVERALLOTMENT_OPT,ANNOUNCED_CALL,ACTIVE_ISSUE,DEP_ELIGIBILITY,PRIVATE_PLACEMENT,BOND_TYPE,SUBSEQUENT_DATA,PRESS_RELEASE,ISIN,PERPETUAL,SEDOL,EXCHANGEABLE,FUNGIBLE,REGISTRATION_RIGHTS,PREFERRED_SECURITY,COMPLETE_CUSIP
0,1.0,3.0,b'AAR CORP',b'000361',b'AA3',b'NT',2001-11-01,b'SEN',NaN,b'N',b'F',b'N',b'N',b'N',b'N',b'N',b'N',b'N',b'N',b'N',b'S',7.00,4.00,2.5,b'NEG',b'N',b'RBNA',b'NA',b'N',0.0,b'NA',65000.0,1989-10-24,100.000,9.500,1989-11-01,b'N',b'BE',b'1/1',1000.0,b'Y',b'N',NaN,NaT,b'N',b'N',b'N',b'N',NaT,b'N',b'N',b'N',b'N',b'DTC',b'N',b'CDEB',b'Y',NaN,b'US000361AA35',b'N',NaN,b'N',b'N',NaN,b'N',b'000361AA3'
1,2.0,3.0,b'AAR CORP',b'000361',b'AB1',b'NT',2003-10-15,b'SEN',NaN,b'N',b'F',b'N',b'N',b'N',b'N',b'N',b'N',b'N',b'N',b'N',b'S',6.75,4.00,2.5,b'NEG',b'Y',b'S-3',b'NA',b'N',200.0,b'10 YEAR',50000.0,1993-10-12,100.000,7.250,1993-10-19,b'N',b'BE',b'1/1',1000.0,b'Y',b'N',NaN,NaT,b'N',b'N',b'N',b'N',NaT,b'N',b'N',b'N',b'N',b'DTC',b'N',b'CDEB',b'Y',NaN,b'US000361AB18',b'N',NaN,b'N',b'N',NaN,b'N',b'000361AB1'
2,3.0,40263.0,b'ABN AMRO BK N V N Y BRH',b'00077D',b'AB5',b'MTN',1996-01-12,b'SEN',NaN,b'N',b'F',b'N',b'Y',b'N',b'N',b'N',b'N',b'N',b'N',b'N',b'S',0.00,0.75,0.5,b'NEG',b'Y',b'RBNA',b'NA',b'N',12.0,b'2 YEAR',100000.0,1994-01-07,99.873,4.217,1994-01-14,b'N',b'BE',b'1/1',1000.0,b'N',b'N',NaN,NaT,b'N',b'N',b'N',b'N',NaT,b'N',b'N',b'N',b'N',NaN,b'N',b'CMTN',b'N',NaN,b'US00077DAB55',b'N',NaN,b'N',b'N',NaN,b'N',b'00077DAB5'

In [34]:
df2 = df[['ISSUE_ID', 'ISSUER_ID', 'PROSPECTUS_ISSUER_NAME', 'COMPLETE_CUSIP', 'ISIN']].copy()
df2.notna().sum()

df2['PROSPECTUS_ISSUER_NAME'] = df2['PROSPECTUS_ISSUER_NAME'].str.decode('utf-8')
df2['COMPLETE_CUSIP'] = df2['COMPLETE_CUSIP'].str.decode('utf-8')
df2['ISIN'] = df2['ISIN'].str.decode('utf-8')

df2.head(3)

ISSUE_ID                  561184
ISSUER_ID                 561184
PROSPECTUS_ISSUER_NAME    561184
COMPLETE_CUSIP            561184
ISIN                      559046
dtype: int64

   ISSUE_ID  ISSUER_ID   PROSPECTUS_ISSUER_NAME COMPLETE_CUSIP          ISIN
0       1.0        3.0                 AAR CORP      000361AA3  US000361AA35
1       2.0        3.0                 AAR CORP      000361AB1  US000361AB18
2       3.0    40263.0  ABN AMRO BK N V N Y BRH      00077DAB5  US00077DAB55

## Company Name

In [15]:
cn = pd.read_parquet('../isin/company_name.pq')
cn.shape
cn.head(3)

(10224601, 4)

,isin,company_name,source,update
0,CNE100000TP3,LUXSHARE PRECISION INDUSTRY CO LTD (LUXSHARE),RepRisk,2022-06-19
183609,US140420LV06,CAPITAL ONE BANK NA,RepRisk,2022-06-19
183595,US140420YL86,CAPITAL ONE BANK NA,RepRisk,2022-06-19

In [25]:
_cn = df2[['PROSPECTUS_ISSUER_NAME', 'ISIN']].drop_duplicates()
_cn.columns = ['company_name', 'isin']
_cn['source'] = 'FISD'
_cn['update'] = pd.to_datetime('2024-03-16')
_cn.shape
_cn.head(3)

(559899, 4)

              company_name          isin source     update
0                 AAR CORP  US000361AA35   FISD 2024-03-16
1                 AAR CORP  US000361AB18   FISD 2024-03-16
2  ABN AMRO BK N V N Y BRH  US00077DAB55   FISD 2024-03-16

In [26]:
cn2 = pd.concat([cn, _cn], axis=0)
cn2.shape
cn2.drop_duplicates(subset=['company_name', 'isin'], keep='last', inplace=True)
cn2.shape
cn2.head(3)

(10784500, 4)

(10770401, 4)

,isin,company_name,source,update
0,CNE100000TP3,LUXSHARE PRECISION INDUSTRY CO LTD (LUXSHARE),RepRisk,2022-06-19
183609,US140420LV06,CAPITAL ONE BANK NA,RepRisk,2022-06-19
183595,US140420YL86,CAPITAL ONE BANK NA,RepRisk,2022-06-19

In [28]:
cn2.to_parquet('../isin/company_name.pq')

## CUSIP

In [29]:
cu = pd.read_parquet('../isin/cusip.pq')
cu.shape
cu.head(3)

(58410, 4)

               isin     cusip         source     update
63159  CA15135U1093  15135U10  Refinitiv ESG 2022-06-17
56338  FR0004024222  F5262B11  Refinitiv ESG 2022-06-17
56345  US8060371072  80603710  Refinitiv ESG 2022-06-17

In [30]:
_cu = df2[['COMPLETE_CUSIP', 'ISIN']].drop_duplicates()
_cu.columns = ['cusip', 'isin']
_cu['source'] = 'FISD'
_cu['update'] = pd.to_datetime('2024-03-16')
_cu.shape
_cu.head(3)

(561184, 4)

       cusip          isin source     update
0  000361AA3  US000361AA35   FISD 2024-03-16
1  000361AB1  US000361AB18   FISD 2024-03-16
2  00077DAB5  US00077DAB55   FISD 2024-03-16

In [31]:
cu2 = pd.concat([cu, _cu], axis=0)
cu2.shape
cu2.drop_duplicates(subset=['cusip', 'isin'], keep='last', inplace=True)
cu2.shape
cu2.head(3)

(619594, 4)

(616951, 4)

               isin     cusip         source     update
63159  CA15135U1093  15135U10  Refinitiv ESG 2022-06-17
56338  FR0004024222  F5262B11  Refinitiv ESG 2022-06-17
56345  US8060371072  80603710  Refinitiv ESG 2022-06-17

In [32]:
cu2.to_parquet('../isin/cusip.pq')

## FISD Issue ID

In [35]:
iid = df2[['ISSUE_ID', 'ISIN']].copy()
iid.columns = ['issue_id', 'isin']
iid['source'] = 'FISD'
iid['update'] = pd.to_datetime('2024-03-16')
iid.shape
iid.head(3)

(561184, 4)

   issue_id          isin source     update
0       1.0  US000361AA35   FISD 2024-03-16
1       2.0  US000361AB18   FISD 2024-03-16
2       3.0  US00077DAB55   FISD 2024-03-16

In [36]:
iid.drop_duplicates(subset=['issue_id', 'isin'], keep='last', inplace=True)
iid.shape
iid.head(3)

(561184, 4)

   issue_id          isin source     update
0       1.0  US000361AA35   FISD 2024-03-16
1       2.0  US000361AB18   FISD 2024-03-16
2       3.0  US00077DAB55   FISD 2024-03-16

In [37]:
iid.to_parquet('../isin/fisd_issue_id.pq')

## FISD Issue ID

In [38]:
iid = df2[['ISSUER_ID', 'ISIN']].copy()
iid.columns = ['issuer_id', 'isin']
iid['source'] = 'FISD'
iid['update'] = pd.to_datetime('2024-03-16')
iid.shape
iid.head(3)

(561184, 4)

   issuer_id          isin source     update
0        3.0  US000361AA35   FISD 2024-03-16
1        3.0  US000361AB18   FISD 2024-03-16
2    40263.0  US00077DAB55   FISD 2024-03-16

In [39]:
iid.drop_duplicates(subset=['issuer_id', 'isin'], keep='last', inplace=True)
iid.shape
iid.head(3)

(559874, 4)

   issuer_id          isin source     update
0        3.0  US000361AA35   FISD 2024-03-16
1        3.0  US000361AB18   FISD 2024-03-16
2    40263.0  US00077DAB55   FISD 2024-03-16

In [40]:
iid.to_parquet('../isin/fisd_issuer_id.pq')